@font-face {
    font-family: 'Barlow';
    src: url('./assets/fonts/Barlow-Regular.ttf') format('truetype'),
        url('./assets/fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('./assets/fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Barlow', sans-serif;
}

/* Layout */

.ant-layout {
    background: #fff;
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(0, 38, 0, 0.5);
}

:where(.css-dev-only-do-not-override-190m0jy).ant-btn {
    border-radius: 0px;
    font-size: 16px;
    height: 32px;
    padding: 0;
}

.login-button {
    font-family: 'Barlow', sans-serif;
    margin-right: 30px;
    font-weight: 600;
    color: #000038;
    width: 16%;
}

:where(.css-dev-only-do-not-override-190m0jy).ant-input-affix-wrapper {
    position: relative;
    min-width: 0;
    border-radius: 0;
    padding-left: 10px;
    background-color: white;
}

.search-input {
    width: 40%;
    height: 30px;
    font-size: 16px;
    color: #000038;
    margin: 0;
}

.header-one {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: #000038;
}

.header-logo {
    font-size: 32px;
    font-family: 'Barlow-Bold';
    font-weight: 900;
    color: #000038;
    transform: scaleY(1.1);
    letter-spacing: 1px;
    font-weight: 900;
}

.header-social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.social-icons {
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}

.social-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #000038;
}

.menu-button {
    font-weight: 600;
    color: #000038;
    width: auto;
}

@media (max-width: 768px) {
    .header {
        flex-direction: flex;
        align-items: center;
    }

    .login-button {
        width: 20%;
        margin: 5px 0;
    }

    .login-text {
        font-size: 0;
        display: none;
    }

    :where(.css-dev-only-do-not-override-190m0jy).ant-input-affix-wrapper {
        position: relative;
        min-width: 0;
        border-radius: 0;
        padding-left: 5px;
        background-color: white;
    }

    .search-input {
        width: 50%;
        margin: 0;
    }

    .social-icons {
        margin-left: auto;
        margin-right: 8px;
        justify-content: center;
    }

    .social-icon {
        font-size: 20px;
        margin-right: 8px;
        color: #000038;
    }

    .menu-button-container {
        margin-left: 0;
        justify-content: center;
    }
}

/* Drawer Styles */
.drawer-menu {
    height: 100%;
}

/* Footer Styles */
.footer {
    text-align: center;
    background: #fff;
    color: #000038;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
}

.ant-carousel .slick-dots li button {
    background-color: #202038;
}

.ant-carousel .slick-dots li.slick-active button {
    background-color: #000038;
    /* Ganti dengan warna yang Anda inginkan */
}

:where(.css-dev-only-do-not-override-190m0jy).ant-card .ant-card-body {
    padding: 8px;
}

:where(.css-dev-only-do-not-override-190m0jy).ant-card .ant-card-meta-title {
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

.title-news {
    font-family: 'Barlow', sans-serif;
    transform: scaleY(0.9);
    letter-spacing: -1px;
    color: #000038;
    margin-top: 0;
}

.title-news::after {
    content: "";
    display: block;
    border-bottom: 2px solid rgb(0, 38, 0, 0.5);
    margin-top: 8px;
    width: 90%;
}

.ant-tooltip-inner {
    border-radius: 0;
}

/* CustomModal.css */
.ant-modal {
    border-radius: 0;
}

.ant-form-item {
    margin-bottom: 10px;
}

.ant-input {
    width: 100%;
}

.ant-form-item-label>label::before {
    display: none;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form-item {
    margin-bottom: 16px;
    border-radius: 0;
    text-align: end;
    font-weight: 600;
}

.ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.5), 0 3px 6px -8px rgba(0, 0, 0, 0.9), 0 9px 28px 8px rgba(0, 0, 0, 0.1);
}

.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
}

.ant-modal .ant-modal-title {
    margin-bottom: 20px;
    color: #000038;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    word-wrap: normal;
}

.ant-form-item .ant-form-item-label>label {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #000038;
    letter-spacing: 0.5px;
    max-width: 100%;
    font-size: 15px;
    height: 32px;
}

.login-input {
    border-radius: 0;
    display: flex;
    margin-left: auto;
    width: 360px;
}

/* Container Styles */
.container {
    padding: 0;
    margin-top: 0;
    background: #fff;
}

.ad-text {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    transition: margin-top 0.3;
    padding: 0 10px;
    margin-top: 10px;
    gap: 5px;
}

@media (max-width: 768px) {
    .ad-text {
        font-size: 1vw;
        margin-top: 14%;
    }
}

h1:where(.css-dev-only-do-not-override-190m0jy).ant-typography,
div:where(.css-dev-only-do-not-override-190m0jy).ant-typography-h1,
div:where(.css-dev-only-do-not-override-190m0jy).ant-typography-h1>textarea,
:where(.css-dev-only-do-not-override-190m0jy).ant-typography h1 {
    font-weight: 600;
    margin: 5px;
}


/* Pagination Styles */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

:where(.css-dev-only-do-not-override-190m0jy).ant-pagination .ant-pagination-item-active {
    font-weight: 600;
    background-color: #fff;
    color: black;
}

.ant-pagination-item a {
    border-color: #000038;
    text-decoration: #000038;
    font-weight: 600;
}

.ant-pagination-item:hover {
    border-color: #000038;
    color: #fff;
}

.detail-author {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    margin-right: 10px;
}

.detail-published {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    margin-right: 10px;
}

.description-container {
    font-size: 20px;
    font-weight: 600;
}

.detail-description {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    margin-right: 10px;
}

.paragraph:first-child {
    text-indent: 40px;
}

/* Button Read Styles */
.button-read-cointainer {
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

.button-read {
    width: 10%;
}

.button-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-published {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px 0;
}

.author-published::after {
    content: "";
    display: block;
    border-bottom: 2px solid rgb(0, 38, 0, 0.5);
    margin-top: 8px;
    width: 90%;
}

/* Separator Styles */
.separator {
    margin-left: 20px;
    margin-right: 20px;
}

.center-spin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}